/* Chat.css */
.admin-main {
    display: flex;
    margin-top: 70px;
    color: black;
}

.admin-main .main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    height: 100vh;
}

.admin-main .chat h2, .admin-main .chat p {
    color: black;
}
